[submodule "testdata"]
	path = testdata
	url = https://github.com/OHIF/viewer-testdata-dicomweb.git
	branch = main
[submodule "ohif-extensions"]
	path = ohif-extensions
	url = https://github.com/pedrokohler/ohif-with-submodules-extensions-demo.git
[submodule "cornerstone3d"]
	path = cornerstone3d
	url = https://github.com/cornerstonejs/cornerstone3D.git
